html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: #231a46;
	color: white;
	transition: 0.5s;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.Tutorial {
	/* position: fixed;
	background-color: aquamarine;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10; */
}

.Tutorial-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	margin: auto;
	width: 100vw;
	height: 100vh;
	background-color: #231a46 !important;
	display: flex;
	align-items: center;
	color: white !important;
	border-radius: 20px;
}

.hidden {
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}

.Tutorial-text {
	margin: 0px 10% 0px 10%;
}

.grid {
	padding: 0 !important;
}

.lightTextField {
	background-color: #ffffff2f;
	border-radius: 4px;
}
.lightTextField input,
.lightTextField label {
	color: white !important;
}
::before,
::after {
	border-color: white !important;
}
